.feature-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1.5rem;
padding: 4rem 2rem;
background: #111;
}


.feature-card {
position: relative;
border-radius: 10px;
overflow: hidden;
text-align: center;
color: white;
transition: 0.3s ease;
cursor: pointer;
}


.feature-card img {
width: 100%;
height: 250px;
object-fit: cover;
transition: 0.4s ease;
filter: brightness(0.8);
}


.feature-card:hover img {
transform: scale(1.08);
filter: brightness(0.6);
}


.feature-card h4 {
margin: 1rem 0;
font-size: 1.3rem;
letter-spacing: 1px;
}

.feature-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1.5rem;
padding: 4rem 2rem;
background: #111;
}


.feature-card {
position: relative;
border-radius: 10px;
overflow: hidden;
text-align: center;
color: white;
transition: 0.3s;
}


.feature-card img {
width: 100%;
height: 250px;
object-fit: cover;
}


.feature-card:hover {
transform: translateY(-10px);
}