.hero {
position: relative;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}


.hero-img {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
filter: brightness(0.45);
}


.hero-content {
position: relative;
text-align: center;
color: white;
z-index: 2;
}


.hero-content h1 {
font-size: 4.5rem;
color: #ff4655;
text-shadow: 0 0 25px black;
}


.hero-content p {
margin-top: 1rem;
font-size: 1.4rem;
}


.hero-content button {
margin-top: 2rem;
padding: 1rem 2.5rem;
background: #ff4655;
border: none;
color: white;
font-size: 1.2rem;
cursor: pointer;
transition: 0.3s;
}


.hero-content button:hover {
background: #ff2f40;
}