* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-yellow);
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
}
