:root {
  --color-bg: #000000;
  --color-red: #FF0000;
  --color-yellow: #FFD700;
  --color-gray-dark: #1A1A1A;
  --color-gray-light: #E0E0E0;
  --color-white: #FFFFFF;

  /* tamaños */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 18px;

  /* sombras */
  --shadow-strong: 0 0 25px rgba(255, 215, 0, 0.5);
  --shadow-red: 0 0 25px rgba(255, 0, 0, 0.5);
}
