.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  color: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  z-index: 10;
  backdrop-filter: blur(6px);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-red);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: var(--color-red);
}
