.navbar {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
backdrop-filter: blur(12px);
background: rgba(0,0,0,0.35);
border-bottom: 1px solid rgba(255,255,255,0.1);
}


.nav-logo {
font-size: 1.6rem;
font-weight: 800;
letter-spacing: 2px;
color: #ff4655;
}


.nav-menu {
display: flex;
gap: 2rem;
list-style: none;
}


.nav-menu li {
color: white;
cursor: pointer;
transition: 0.3s;
}


.nav-menu li:hover {
color: #ff4655;
}