.footer {
padding: 2rem;
text-align: center;
background: #0d0d0d;
color: white;
}


.socials {
margin-top: 1rem;
display: flex;
justify-content: center;
gap: 1.5rem;
}


.socials a {
color: #ff4655;
transition: 0.3s;
}


.socials a:hover {
color: white;
}